body {
}

.main {
    padding: 10px;
    margin: 10px;
}

table.seq {
    border-spacing: 0;
    width: 2016px;
}

table.seq th, td {
    background-color: #eeeeee;
    min-width: 30px;
    max-width: 30px;
    height: 25px;
    font-size: 10px;
    text-align: center;
    border: 1px solid #000000;
}

table.seq .key {
    max-width: 50px;
    min-width: 50px;
}

table.seq td.x {
    color: #ffffff;
}

table.seq td.p {
    background-color: greenyellow;
}

table.seq td.x.a7 {
    background-color: #EA1308;
}

table.seq td.x.a5 {
    background-color: #FF635B;
}

table.seq td.x.a3 {
    background-color: #FF8B85;
}

table.seq td.t {
    border-left: 2px solid #000000;
}

.seq-container {
    overflow-x: scroll;
}

.seq-container hr {
    border: none;
}

.track-control {
    width: 80px !important;
}

.play-controls {
    margin-top: 20px;
}